.main-color {
  color: #F6762C;
}

.bgMain {
  background-color: #F6762C;
}

.home-page header {
  background-image: url(./Assets/main-picture.png);
  background-size: cover;
  background-position: center;
}

.home-page h1 {
  font-size: 60px;
  max-width: 600px;
  margin-bottom: 1.25rem;
}

.bg-second {
  background-color: #312F30;

}

body {
  color: #fff;
}

.loading {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}